{% extends "base.html" %}
{% block title %}Update  Task{% endblock %}
{% block content %}

<style>
    .container-fluid {
        max-width: 100%;
    }

    .users-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .users-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold text-light">Projet BD </h1>
        
      </div>
    </div>
  </section>
  {% if  user.is_authenticated %}

                            <form class="users-form p-4 rounded" action="" method="post">
                                {% if form.is_valid %}
                                <h3 class="mb-2 font-weight-bold text-success">Task Successfully Updated !!</h3>
                                {% endif %}
                                {% csrf_token %}
                                <h3 class="mb-4 text-light">Update Task</h3>
                                
                                {% if form.errors %}
                                <p>Please correct the following errors:</p>
                                {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-primary" role="alert">
                                    {{ field.label }}: {{ field.errors|striptags }}
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}

                                <div class="container">
                                    <main class="pt-5">
                                        <div class="row g-3">
                                            <div class="col-md-4 col-lg-12 order-md-first " >
                                            </div>
                                
                                                <table class="table  table-bordered table-light table-hover">
                                          
                                                    <thead class="table bgprofile">
                                                    <tr>
                                                      
                                                      <th class="d-flex justify-content-center" scope="col  ">Update Data </th>
                                                    </tr>
                                                    </thead>                               
                                                  </table>
                                                <table class="table  table-bordered table-light table-hover">
                                          
                                                    <thead class="table bgprofile">
                                                    <tr>
                                                      
                                                      <th scope="col">Project :</th>
                                                      <th scope="col">Task:</th>
                                                    </tr>
                                                    </thead>
                                                   
                                                    
                                                    <tbody>
                                                      
                                                      <tr>
                                                        
                                                            
                                                        
                                                            
                                                        <td style="width: 30%"><h6 class="text-dark"> {{ form.Project_name }}</h6></td>  
                                                        <td style="width: 30%"><h6 class="text-dark"> {{ form.T_name }}</h6></td>
                                                    </tr>
                                                        
                                      
                                                  </table>
                                
                                                <table class="table  table-bordered table-light table-hover">
                                          
                                                    <thead class="table bgprofile">
                                                    <tr>
                                                      
                                                      <th scope="col">User :</th>
                                                      <th scope="col">Slug:</th>
                                
                                                    </tr>
                                                    </thead>
                                                   
                                                    
                                                    <tbody>
                                                      
                                                      <tr>
                                                        
                                                        <td  style="width: 30%"><h6 class="text-dark">{{ form.user }}</h6></td>
                                                        <td style="width: 30%"><h6 class="text-dark">{{ form.slug }} </h6></td>
                                                    </tr>
                                                   
                                      
                                                  </table>
                                                  <table class="table  table-bordered table-light table-hover">
                                          
                                                    <thead class="table bgprofile">
                                                    <tr>
                                                      
                                                      <th scope="col">Start Date:</th>
                                                      <th scope="col">Final Date:</th>
                                                    </tr>
                                                    </thead>
                                                   
                                                    
                                                    <tbody>
                                                      
                                                      <tr>
                                                        
                                                        <td style="width: 15%"><h6 class="text-dark"> {{ form.Start_D }} </h6></td>
                                                        <td style="width: 15%"><h6 class="text-dark"> {{ form.Final_D }} </h6></td>
                                                    </tr>
                                                   
                                      
                                                  </table>
                                                  <table class="table  table-bordered table-light table-hover">
                                          
                                                    <thead class="table bgprofile">
                                                    <tr>
                                                      
                                                      <th scope="col">Progress:</th>
                                                      <th scope="col">Is it Done ?:</th>
                                                    </tr>
                                                    </thead>
                                                   
                                                    
                                                    <tbody>
                                                      
                                                      <tr>
                                                        
                                                        <td style="width: 15%"><h6 class="text-dark"> {{ form.progress }} </h6></td>
                                                        <td style="width: 15%"><h6 class="text-dark"> {{ form.is_done }} </h6></td>
                                                    </tr>
                                                   
                                      
                                                  </table>
                                                  <div class="d-grid gap-2">
                                   
                                                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-40 text-light rounded-pill btn-outline-light zoom bgdiv" type="submit">Update</button>
                                                </div>
                            </form>
                            {% else %}
                            <h1 class="text-light text-center">Login To Access The Page</h1>  
                            <a  class="text-light text-center pb-3" href="{% url "users:login"%}" >Login</a>       
                            {% endif %}
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}